<header class="main-header">
  <nav class="navbar">
    <a href="/" class="nav-logo">airBnB</a>
    <ul class="nav-links">
      <li><a href="/homes">Home-List</a></li>
      <li><a href="/favorite-list">Favorites</a></li>
      <li><a href="/bookings">Bookings</a></li>
      <li><a href="/host/add-home">Add New Home</a></li>
    </ul>
  </nav>
</header>
